/* General Styles */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #212121;
}

/* Highlighted Text */
span {
    color: rgb(238, 213, 19);
}

/* Navbar Styles */
.navbar {
    background: transparent;
    position: fixed;
    width: 100%;
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logopfp {
    margin-left: 20px;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}

.menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-weight: 500;
}

.menu li {
    margin-right: 35px;
}

.menu li a {
    position: relative;
    padding: 10px 10px 3px; /* Adjusted for better readability */
    color: white;
    text-decoration: none;
    display: inline-block;
    transition: color 0.75s ease;
}

.menu li a:hover {
    color: rgb(238, 213, 19);
}

/* Hero Section Styles */
.beranda {
    display: flex;
    align-items: center;
    height: 850px;
    padding: 0 10%;
    background: url('Logo/Desain tanpa judul.png') no-repeat;
}

.beranda-konten {
    color: white;
    max-width: 700px;
}

.beranda-konten h1 {
    font-size: 56px;
    margin: 0;
}

.beranda-konten h3 {
    font-size: 30px;
    color: rgb(238, 213, 19);
    font-weight: 550;
    margin: 0;
}

.beranda-konten p {
    margin-bottom: 20px; /* Added spacing for consistency */
}

.beranda-konten a {
    width: 150px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-weight: 550;
    color: rgb(238, 213, 19);
    border: 2px solid rgb(238, 213, 19);
    border-radius: 5%;
    margin-top: 20px;
    transition: 0.75s ease;
    overflow: hidden;
}

.beranda-konten a:hover {
    color: #212121;
    background-color: rgb(238, 213, 19);
    box-shadow: 0px 0px 10px 5px rgb(238, 213, 19);
}

/* Social Media Icons Styles */
.sosmed {
    position: absolute;
    bottom: 250px;
    width: 215px;
    margin-left: 184px;
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
}

.sosmed a{
	position:relative ;
	display: inline-flex;
	width: 40px;
	height: 40px;
	justify-content: center;
    align-items: center;
	background-color: transparent;
	border: 2px solid rgb(238, 213, 19) ;
	border-radius: 50%;
	font-size: 23px;
	color: rgb(238, 213, 19);
	text-decoration: none;
	z-index: 1;
	overflow: hidden;
	transition: .5s;
}
.sosmed a:hover{
	color: #212121;
}
.sosmed a::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: rgb(238, 213, 19);
	z-index: -1;
	transition:  .5s;
}
.sosmed a:hover::before{
	width: 100%;
}